body {
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  font-family: Roboto;
  font-size: 14px;
  color: #FFF;
  height:100%;
}

html,
body {
  margin:0;
  padding:0;
  height:100%;
}
#logo img {

  width: 200px;
}
footer {
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  text-align: right;
  padding-bottom: 60px
}
h1 {
  animation-duration: 2s;
  animation-name: slidein;

}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
header img {
  padding-top: 20px;
  padding-left: 15px;
  opacity: 0.9;
  width: 280px;
}

a {
  color: white;
  text-decoration: none;
}
 /*
.shadow {
 background-color: rgba(0,0,0,0.3);*/
  

.share {
 

  color: white;
  margin-left: 150px;
  padding-top: 12px;
  text-transform: uppercase;
     
}

.share a {
  
  color: white;
  padding: 10px;
}

.venue-name {
  text-align: center;
}

.venue-name .btn {
  border: 2px solid white;
  color: white;
  font-weight: lighter;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  display: block;
  width: 100px;
  text-align: center;
  margin: 20px auto 0;
}

.venue-name .btn:hover {
  background-color: white;
  color: #e91e63;
}

.venue-name h3 {
 
  padding: 5px 0; 
  display: block;}

#footer-bar{
  
  -webkit-transition: none;
    transition: none;
    -webkit-backface-visibility: visible;
    height: 97%;
    box-shadow: inset 0 -54px 60px -25px rgba(0,0,0,0.4);
    margin-top: 0;
}
.btn-group>.btn:first-child img {

  width: 32px;
  height: 32px;
  float: left;
   margin: -7px 0 0 0;
}

#seclect-city {
    margin-left: 5px;
    padding: 10px 25px 2px 18px;

  }
.venue-name h3 a{
  color: #FFF;
  text-decoration: none;
  border: 1px solid white;
  padding: 6px 40px;
  width: 300px;
  border-radius: 7px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.2);

}

.venue-name h3 a:hover{
  text-decoration: none;
  background-color: rgba(0,0,0,0.4);
 
}

.venue-name h3 span {
  margin-right: 12px;
}

.venue-name h1,
.venue-name h3 {
  font-weight: 400;
  font-size: 14px;
}

.venue-name h1 {
  color: white;
  font-size: 6em;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 400;
  letter-spacing: 0.4rem;
   text-shadow: 2px 2px #000;
}



.switch {
  margin-top: -69px;
}
.switch-button i {
  font-size: 100px;
  color: white;
  padding-right: 50px;
}

.switch-button i:hover {
  color: #ecf0f1;
}

p a {
  font-size: 1.6em;
  margin-right: 10px;
}

.green { 
 color: white;
 font-weight: bold;
 margin-bottom: 10px;
 display: block;}

.gold { color: gold;
 }
.city-selection {
  padding-right: 20px;
  padding-top: 0px;
  float: right;
}

.btn-group>.btn:first-child {
    margin-left: 0px;
}


.dropdown-menu>li>a{
      padding: 0px 0px 8px 5px;
}

.dropdown-menu img {

 float: left;
 width: 32px;
 height: 32px;


}
.dropdown-menu p {

  padding-left: 40px;
  padding-top: 8px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.divider p {
  padding: 0px 0px;
}


.dropdown-menu{
  width: 200px;
}
#btn-current-location{
      padding: 0 13px 0 0;
    background-color: transparent;
    border: none;
    color: white;
}
.btn-group>.btn:first-child {
     font-weight: bold;
    width: 200px;
    padding: 8px 28px 20px 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 37px;
    text-align: center;
}

/* pop up message box */
#box{
  
  width: 560px;
  height: 233px;
  background-color: rgba(0,0,0,0.6);
  color: #ccc;
  border: 1px solid white;
  border-radius: 4px;
  letter-spacing: 1px;
  font-weight: 300;
  margin-top: 25%;
  }

#popUpBox {
 text-align: center;
  padding-left: 35%;
  position: absolute;
  margin: auto;
}

#popUpBox h1 {

  text-align: center;
  color: white;
  text-transform: uppercase;
  padding-top:0px;
  text-shadow: none;
}

a {
    color: white;
    text-decoration: none;}


#popUpBox a {
    color: white;
    text-decoration: none; }

#popUpBox p {
    line-height: 31px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 0px 31px 0px 30px;
    text-transform: uppercase;
    color: white;

}

#close-btn{

    color: #FFF;
    text-decoration: none;
    border: 1px solid white;
    padding: 6px 40px;
    width: 250px;
    border-radius: 7px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.2);
    
}

#close-btn:hover{
text-decoration: none;
  background-color: rgba(0,0,0,0.4);
}
#recommend-btn:hover{
text-decoration: none;
  background-color: rgba(0,0,0,0.4);
}

#suggest-btn{
  width: 560px;
  height: 150px;
  background: #145E89;
  margin-top: 0 0 0 0;
}
#recommend-btn{

    color: #FFF;
    text-decoration: none;
    border: 1px solid white;
    padding: 6px 40px;
    width: 242px;
    border-radius: 7px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.2);
    
}

#popUp-btn {
    text-align: center;
    text-transform: uppercase;
    margin: -21px 0 17px;
    display: inline;
    padding: 0 0 0 6px;
}





@media (max-width: 1700px) {
  #popUpBox {
   padding: 0 20% 0 30%;
  }
}

@media (max-width: 1400px) {
  #popUpBox {
   padding-left:  27%;
  }
}


@media (max-width: 1200px) {
  #popUpBox {
   padding: 0 20% 0 22%;
  }
}

